# Requirements to run the code
py-pde==0.12.1
h5py==3.0.0
pandas==1.1.4
tqdm==4.51.0
ffmpeg==1.4
SALib==1.3.13
pymc3==3.10.0
arviz<=0.11.0

jax
jaxlib

# Excel IO with pandas
xlrd==1.2.0
openpyxl

# Jupyter Notebooks
jupyter==1.0.0
notebook==6.1.5
jupytext==1.6.0

# Plotting
matplotlib==3.3.2
seaborn

